*.egg-info
.idea
outputs
logs
wandb
MUJOCO_LOG.TXT
deploy/robots/go2/build
deploy/robots/g1/build
deploy/robots/h1_2/build
# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Optional: venv, build, etc (if you want)
.venv/
venv/
build/
dist/
*.egg-info/
